<h1>About Us</h1>
<p>In this Modern era of competition,every educational university in the world is trying to secure a better ranking amongst other universities.The universities thereby need to present the increasing academic performances of their students.To represent this academic result,most of the universities uses tabular form created manually.To stand out among the rest,we need to create a more unique system which can create and display the result in a more elegant and systematic form rather than a plan vanilla tabular form.</p>
