

    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>A Warm Welcome!</h1>
            <p>Get Started! Know what we do!</p>
            <p><a class="btn btn-primary btn-large">Take a Tour</a>
            </p>
        </header>

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Features</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <%= image_tag 'feature1.png' %>
                    <div class="caption">
                        <h3>Beautiful Report Presentations!</h3>
                        <p>We create your reports in an interesting way than the age old table method by generating your report in the form of charts,histograms,tables and lot more!</p>

                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                   <%= image_tag 'feature2.jpg' %>
                    <div class="caption">
                        <h3>Blazing  FAST query processing!</h3>
                        <p>We have the best query processing logic implemeted, that enables you to view your report in a matter of a click.Yes, all it takes is a click to view your report. Try it now!</p>

                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <%= image_tag 'header_imageab.jpg' %>
                    <div class="caption">
                        <h3>Clean Code</h3>
                        <p>We appreciate your time is money and so is ours.Thus we develop the application with clean code so that you get the best experience while using our application.</p>

                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <%= image_tag 'feature4.jpg' %>
                    <div class="caption">
                        <h3>Amazing User Experince!</h3>
                        <p>We have an amazing user interface that is fast,awesome and reliable.And yes,it's accurate too! So enjoy the fast and easy to use UI at result analytics even while enjoying your favourite coffee! It's that simple.</p>

                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

        <hr>


    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>






