<div class = "col-xs-offset-3">
  <h2>Add New Record</h2>
</div>

<%= render 'form' %>

<div class = "col-xs-4 col-xs-offset-4">
  [<%= link_to 'Cancel entry and go back to listing of records.', greports_path %>]
</div>