<div class = "container">
  <div class ="footer">
    <small>
      Copyright &copy; <a href="https://www.cscreed.com"> Result Analysis System</a>
      by <b>Group 12</b>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </nav>
    </footer>
</div>
